.catalog {
    margin-top: 94px;
    margin-bottom: 50px;
  }
  
  .catalog-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .catalog-list:nth-child(2n + 2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .catalog-list__item {
    margin-top: 30px;
    width: 370px;
  }
  
  .catalog-list__link {
    color: $bg-primary-color;
    transition: $delay color cubic-bezier(0.4, 0, 0.2, 1),
      $delay box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  }
  .catalog-list__link{
    
    &:focus,
    &:hover {
      color: $bg-primary-color;
      text-decoration: none;
  
      box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
    }
  }
 

  .catalog-type {
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
  }
  .catalog-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    margin-bottom: 4px;
  }

  .catalog-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
  
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
    margin: 0;
  
    font-size: 18px;
    line-height: calc(18 / 12);
    color: #ffffff;
  
    transform: translateY(100%);
    transition: transform $delay cubic-bezier(0.4, 0, 0.2, 1),
      opacity $delay cubic-bezier(0.4, 0, 0.2, 1),
      bacground-color $delay cubic-bezier(0.4, 0, 0.2, 1);
  
    opacity: 0;
  }  

.catalog-list__item:hover .catalog-overlay,
.catalog-list__item:focus .catalog-overlay {
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
  }
  
  .catalog-tumb {
    position: relative;
    overflow: hidden;
  }
  


  .catalog-content {
    padding: 20px 24px;
    border: 1px solid #eee;
  }
