.footer {
  background: $bg-primary-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
  
  .footer-flex {
    display: flex;
    gap: 93px;
  }
  
  .footer__icon-canv {
    background: rgba(255, 255, 255, 0.1);
    transition: $delay background-color cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer .icon-canv:hover,
  .footer .icon-canv:hover {
    background: $accente-color;
  }
  .footer .icon {
    fill: $bg-bright-color;
  }
  
  .footer-warp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
  }
  
  .footer-warp + .footer-warp {
    margin-top: 20px;
  }
  
  .footer-form {
    display: flex;
  
    gap: 12px;
  }
  
  .footer-email-input {
    width: 358px;
    height: 50px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $bg-bright-color;
  
    padding: 15px 0px;
    padding-left: 16px;
  }
  
  .footer-email-input:focus,
  .footer-email-input:focus-visible {
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: transparent;
  }

  .footer .subscribe-btn {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    width: 200px;
    height: 50px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }