

.header-border {
    border-bottom: solid 1px #e5e5e5;
  }

  .header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    margin-left: 50px;
  
    color: $text-primary-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }