.team {
    padding-top: 95px;
  }
  .team-list__disc {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .team-list__title {
    color: $text-secondery-color;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    padding-top: 30px;
  }

  .team-list__item {
    background-color: $bg-bright-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }