.what-we-do__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .what-we-do__item {
    position: relative;
  }
  .what-we-do__text {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
  
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
  
    background: rgba(47, 48, 58, 0.8);
  }