* {
    box-sizing: border-box;
  }
  /* def ul-list */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .inline {
    display: inline-block;
  }
  
  body {
    background-color: $bg-bright-color;
    color: $text-primary-color;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  
  
  img {
    display: block;
  }
  
  .no-margin {
    margin: 0;
  }

  
  /* Text */
  .section-title {
    color: $text-secondery-color;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  
    margin-bottom: 50px;
    /* padding-top: 50px; */
  }


  .section {
    padding-bottom: 94px;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .media-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    padding-bottom: 30px;
  }
  body.no-scroll {
    overflow: hidden;
  }