.mobile-hidden{
  display: none;
@media screen and (min-width: 768px)
{
    display: block;
  } 
}


.table-hidden{
@media screen and (min-width: 768px) {
    display: none;
  
  .table-hidden{
    display: block;
    }
}  } 