.inputs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  
    width: 448px;
    margin: 0 auto;
  }
  .span-block {
    display: block;
  }
  .form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: solid 1px $bg-primary-color;
    border-radius: 4px;
  }
  .form-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: solid 1px $bg-primary-color;
    border-radius: 4px;
  }
  
  .form-textarea:focus-visible {
    border: transparent;
    outline: 1px solid $accente-color;
    border-radius: 2px;
    outline-offset: -1px;
  }
  
  .submit-btn {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .submit-btn:hover,
  .submit-btn:focus {
    background: $accente-color;
    color: $bg-bright-color;
  }
  .registration-form__lable {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    /* identical to box height */
  
    letter-spacing: 0.01em;
  }
  
  .form-input:focus-visible {
    border: transparent;
    outline: 1px solid $accente-color;
    border-radius: 2px;
    outline-offset: -1px;
  }
  
  .form-input:focus-visible + .input-icon {
    fill: $accente-color;
  }
  
  .input-lable {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    fill: $text-secondery-color;
  }
  
  .registration-check:checked + .custom-check .icon-check {
    background: $accente-color;
    border-radius: 2px;
    outline: solid 2px $text-secondery-color;
    outline-offset: -2px;
  }
  .icon-check {
    border-radius: 2px;
    outline: solid 2px $text-secondery-color;
    outline-offset: -2px;
    transition: outline $delay;
  }
  
  .custom-check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .policy-link {
    color: $accente-color;
  }
  