$white: #ffffff;
$accente-color: #2196f3;
$bg-bright-color: #ffffff;
$bg-dim-color: #f5f4fa;
$bg-primary-color: #2f303a;
$text-secondery-color: #212121;
$text-primary-color: #757575;
$text-contacts-color: rgba(255, 255, 255, 0.6);

$delay: 250ms;